# Copia este fichero a .env y rellena tu URI de MongoDB Atlas
# mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/viajes_azul
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/viajes_azul
